@font-face {
  font-family: Zobeir;
  src: url(Zobeir.ttf);
}

@font-face {
  font-family: Afaaq;
  src: url(Afaaq.ttf);
}

body {
  background: linear-gradient(99deg, #272727, #F5F5DC, #E1c699);
  background-size: 2000%;
  animation: GradientBackground 11s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.back1 {
  background: linear-gradient(0deg, rgba(64, 59, 74, 1), #362222, rgba(231, 233, 187, 1));
  background-size: 2%;
  animation: GradientBackground 11s ease infinite;
  /*background: linear-gradient(180deg, #c5a08477 25%, #ae6e4e 100%);*/
  border-top-right-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 5px 7px #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 50%;
  margin: auto auto;
  font-family: Zobeir;
  /*align-items: center;
            align-content: center;*/
}

.back2-1 {
  /*background-color:  whitesmoke;*/
  /*background-color: gray;
            height: 400px;
            width: 400px;*/
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  /*margin-left: 5%;
            margin-right: 5%;
            /*margin-bottom: 1%;*/
  /*border-top-left-radius: 50px;
            border-bottom-right-radius: 50px ;*/
}

.top-left {
  position: absolute;
  top: -15px;
  left: -15px;
  border-left: 7px solid rgba(255, 255, 255, 0);
  border-top: 7px solid #d86a6a00;
  height: 50px;
  width: 50px;
  /*box-shadow: 10px 10px 5px #aaaaaa inset;*/
}

.bottom-right {
  position: absolute;
  bottom: -15px;
  right: -15px;
  border-bottom: 7px solid rgba(255, 255, 255, 0);
  border-right: 7px solid #d86a6a00;
  height: 50px;
  width: 50px;
  /*box-shadow: -10px -10px 5px #aaaaaa inset;*/
}

.back2-2 {
  background: linear-gradient(0deg, rgba(64, 59, 74, 1) 0%, rgba(231, 233, 187, 1) 94%);
  border-top-right-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 1px 15px #000000;
  direction: rtl;
  text-align: justify;
  text-justify: inter-word;
  font-family: Zobeir;
  font-weight: 300;
  font-size: 80%;
  /*margin-top: 10%;*/
  /*padding: 10%;*/
  /*margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 10%;*/
  /*border-bottom: 1px solid white;
            border-top: 1px solid white;*/
}

.back3 {
  background: linear-gradient(0deg, rgb(235, 61, 61), #3622224b, rgb(255, 255, 255));
  background-size: 2%;
  animation: GradientBackground 11s ease infinite;
  /*background: linear-gradient(180deg, #c5a08477 25%, #ae6e4e 100%);*/
  border-top-right-radius: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 5px 7px #000000;
  font-family: Zobeir;
  /*position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1;*/
  width: 50%;
  margin: auto auto;
  /*align-items: center;
            align-content: center;*/
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*animation road signs*/

.slide-rotate-hor-b-bck1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*height: 100px;*/
  -webkit-animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s alternate both;
  animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 2s alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-7 22:57:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

.slide-rotate-hor-b-bck2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*height: 100px;*/
  -webkit-animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 6s alternate both;
  animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 6s alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-7 22:57:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

.slide-rotate-hor-b-bck3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*height: 100px;*/
  -webkit-animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 10s alternate both;
  animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 10s alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-7 22:57:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

.slide-rotate-hor-b-bck4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*height: 100px;*/
  -webkit-animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 12s alternate both;
  animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 12s alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-7 22:57:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

.slide-rotate-hor-b-bck5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*height: 100px;*/
  -webkit-animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 15s alternate both;
  animation: swing-in-bottom-fwd 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 15s alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-7 22:57:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-diag-2-br
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
.slide-rotate-hor-b-bck6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*height: 100px;*/
  -webkit-animation: fade-in-fwd 7s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s infinite alternate both;
  animation: fade-in-fwd 7s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-8 15:33:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
